DELETEME_camera_calibration.py
DELETEME_draw_bboxes.py
DELETEME_draw_util.py
DELETEME_line.py
DELETEME_README_orig.md
DELETEME_threshold.py
tests/DELETEME_test_camera_calibration.py
tests/DELETEME_test_draw_util.py
tests/DELETEME_test_pipeline.py
